<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
	  <%= @user.reverse_logs.count %>
	</strong>
	You see
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
	  <%= @user.logs.count %>
	</strong>
	Who see
  </a>
</div>